#filterBtn{
    display:flex;
    justify-content:center;
    align-content:center;
    height:290px; 
    width:20px;
}
#filterBtn > button{
    display:block;
    text-align:center;
    margin-right:15px;
    background-color: aquamarine ;
    transform:rotate(-90deg) ; 
    height:80px ;
    width:115px ;  
    font-size:16px;
    transition:0.1;
}
#filterBtn > button:hover{
    width:125px;
}
#inputModal1{
    height:30px;
    width:400px;
    text-indent: 5px;
}
#inputModal2{
    height:300px;
    width:700px;
    text-indent: 5px;
}
